<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>websec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  
	<servlet>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>com.impetus.servletSales.OAuthServlet</servlet-class>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>3MVG9A2kN3Bn17hsQ4_qm06eToy9a_stk.N.j0JT63dR6Cz_SqVBDVDr_1cMzJ14OJOIsqAVrvRlqZq8sKKJN</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>2752276435614806922</param-value>
		</init-param>
		<init-param>
			<param-name>redirectUri</param-name>
			<param-value>http://localhost:8080/websec/oauth/_callback</param-value>
		</init-param>
		<init-param>
			<param-name>environment</param-name>
			<param-value>https://login.salesforce.com</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/oauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/oauth/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>DemoREST</servlet-name>
		<servlet-class>com.impetus.servletSales.DemoREST</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoREST</servlet-name>
		<url-pattern>/DemoREST</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Streaming</servlet-name>
		<servlet-class>com.impetus.servletSales.Streaming</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Streaming</servlet-name>
		<url-pattern>/Streaming</url-pattern>
	</servlet-mapping>
	

	
  
  
</web-app>